// COLORS
$color-primary: #43e895;
$color-primary-dark: #34b379;
$color-grey-light2: #f0f4f3;
$color-grey-light: #979797;
$color-grey-dark: #2a2a2a;

$color-white: #fff;
$color-black: #000;

// FONT SIZE
$default-font-size: 1.6rem;

// FONT FAMILY
$font-regular: "Avenir-Next-Regular";
$font-bold: "Avenir-Next-Bold";
